os: linux
    dist: focal
    language: python
    arch: arm64
    deploy:
      provider: lambda
      access_key_id: $ACCESS_KEY_ID
      secret_access_key: $SECRET_ACCESS_KEY
      region: "$AWS_DEFAULT_REGION"
      function_name: test_bsfy_func_142
      runtime: nodejs16.x
      timeout: '120'
      environment:
        - ENV=$ENV
        - SENTRY_DSN=test
        - STUDIO_AUTHORIZATION_KEY=$STUDIO_AUTHORIZATION_KEY
      edge: 
        - source: travis-ci/dpl
        - branch: update_aws_lambda_am
    script:
      - python hello_world.py
