   jobs:
   include:
#     - os: windows
#       language: c
#       arch: amd64
#       script:
#         - clang -coverage -O0 hello_world.c -o hello_world
#         - ./hello_world
    os: linux
 -  dist: focal
    language: ruby
    arch: arm64
    deploy:
      provider:  lambda-test
      access_key_id: AKIAU65TDUORKKK4T447
      secret_access_key: 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
      region: us-east-1
      function_name: test_bsfy_func_142
      runtime: nodejs16.x
      timeout: '120'
      environment:
        - ENV=$ENV
        - SENTRY_DSN=test
        - STUDIO_AUTHORIZATION_KEY=$STUDIO_AUTHORIZATION_KEY
      edge: 
        - source: travis-ci/dpl
        - branch: master
    script:
      - ruby hello_world.rb

  
